@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
}

body {
    text-align: center;
    height: 5000px;
}

.head {
    font-family: 'GowunBatang-Regular';
    padding-top: 15px;
}

h1 {
    font-family: 'establishRetrosansOTF';
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a.menu {
    display: block;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'establishRetrosansOTF';

}

nav.textmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    gap: 100px;
    font-family: 'establishRetrosansOTF';
}


nav.textmenu a {
    padding: 12px 20px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease, background-color 0.3s ease;
    text-align: center;
    border-radius: 4px;
}



nav.textmenu span {
    display: none;
}

a.menu:hover {
    background-color: #333;
    color: #faff6e;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: all 0.2s ease;
}

nav.textmenu a:hover {
    background-color: #333;
    color: #faff6e;
    transform: scale(1.08);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

/* 여기까지 header */

.bible {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#Backgroundimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.notice {
    margin-top: 1280px;
    float: left;
    margin-left: 200px;
    font-family: 'establishRetrosansOTF';

}

#min_title {
    font-size: 10px;
    color: #666666;
}


.instagram-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    background-size: 400% 400%;
    animation: gradientAnimation 3s ease infinite;
}

.instagram-btn:hover {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    background-size: 400% 400%;
    animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.second-img {
    width: 100%;
    height: 550px;
    margin-top: 120px;
}

.weare h2 {
    font-family: 'establishRetrosansOTF';
}

.weare p {
    font-family: 'establishRetrosansOTF';
    font-size: 15px;
    color: #666666;
}

.weare {
    margin-top: 200px;
}


.container1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 80px 100px;
    /* 부모 컨테이너 위치 조정 */
}

.big-section {
    width: 500px;
    height: 630px;
    background-color: #D9D9D9;
    border-radius: 20px;
    position: relative;
    /* 자식 요소의 위치 조정에 필요 */
    margin-left: 100px;
}

.big-section h3 {
    font-family: 'GowunBatang-Regular';
    font-size: 40px;
    padding-top: 50px;
    margin-left: 50px;
    font-style: bold;
}

#bigbutton {
    position: absolute;
    border-radius: 50%;
    bottom: 30px;
    /* 버튼 위치 조정 */
    right: 30px;
    width: 50px;
    height: 50px;
}

.when {
    position: absolute;
    font-family: 'GowunBatang-Regular';
    color: #333;
    font-size: 20px;
    top: 200px;
    left: 50px;
}

.big-section h4 {
    font-family: 'GowunBatang-Regular';
    position: absolute;
    top: 150px;
    left: 50px;
    font-size: 30px;
}

/* 전체 섹션 설정 */
.small-section {
    display: grid;
    /* Grid 레이아웃 사용 */
    grid-template-columns: 1fr 1fr;
    /* 두 개의 열로 분할 */
    grid-template-rows: 1fr 1fr;
    /* 두 개의 행으로 분할 */
    gap: 15px;
    /* 아이템 간격 */
    width: 932px;
    height: 637px;
    /* 화면 전체 높이 사용 */
    margin-right: 110px;
    box-sizing: border-box;
}

/* 개별 섹션 설정 */
.small-section>div {
    display: flex;
    /* 버튼 가운데 정렬 */
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    border: 1px solid #ccc;
    /* 테두리 추가 */
    background-color: #f9f9f9;
    /* 배경색 설정 */
}

/* 버튼 설정 */
button {
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 50%;
    /* 버튼을 원형으로 */
    background-color: #909090;
    /* 버튼 배경색 */
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
    background-color: #909090;
    /* 호버 시 색상 변경 */
    transform: scale(1.1);
    /* 호버 시 크기 증가 */
}

button:active {
    background-color: #003f7f;
    /* 클릭 시 색상 변경 */
    transform: scale(0.9);
    /* 클릭 시 크기 감소 */
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 4000px;
}

.footer .footer-link {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer .footer-link:hover {
    text-decoration: underline;
}